{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!--Membership features start -->
  <section class="white_section section_gap" id="features">
    <div class="container">
      <div class="heading">
        <h1><span>Google</span>Calendar</h1>
        <p>The Calendar API allows us to manipulate events and other calendar data. We can create and delete calendars and events.</p>
        <p>It provides the collection <code>events()</code> that includes the method <code>insert</code>, for adding events to the calendar of an user authenticated by OAuth. This method needs a the calendar ID and the body of the request as a dictionary.</p>
        <pre><code class="hljs">calendar_service = build('calendar', 'v3', ...)
body = {
    'start': { "date": '2016-11-09' },
    'end': { "date": '2016-11-10' },
    'summary': 'Event name'
}
calendar_request = calendar_service.events().insert(calendarId='primary', body=body)</code></pre>
        <p>For a detailed description of what keys the body dictionary accepts we have to look at the <a href="https://developers.google.com/resources/api-libraries/documentation/calendar/v3/python/latest/calendar_v3.events.html#insert">documentation</a></p>
      </div>
      
      <div class="row">
        {% if event_added %}
        <div class="alert alert-success" role="alert">The event has been added to your calendar.</div>
        {% endif %}
        <h2>Events</h2>
        {% if have_cred == False %}
          <p><a href="{% url 'add_event' 1%}">Authorize access to your Google Calendar</a></p>
        {% endif %}
        {% for event in events %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="membership_listing"> <span><i class="fa fa-trophy"></i></span>
            <h3>{{ event.summary }}</h3>
            <p>{{ event.date }}</p>
          {% if have_cred == True %}
            <p><a href="{% url 'add_event' event.pk %}">Add event</a></p>
          {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/Membership features end -->
{% endblock %}
